@font-face {
    font-family: 'SheepSansRegular';
    src: url('fonts/sheep_sans-webfont.eot');
    src: url('fonts/sheep_sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sheep_sans-webfont.woff') format('woff'),
         url('fonts/sheep_sans-webfont.ttf') format('truetype'),
         url('fonts/sheep_sans-webfont.svg#SheepSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SheepSansBold';
    src: url('fonts/sheepsansbold-webfont.eot');
    src: url('fonts/sheepsansbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sheepsansbold-webfont.woff') format('woff'),
         url('fonts/sheepsansbold-webfont.ttf') format('truetype'),
         url('fonts/sheepsansbold-webfont.svg#SheepSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AntipastoExtraLight';
    src: url('fonts/antipasto_extralight-webfont.eot');
    src: url('fonts/antipasto_extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/antipasto_extralight-webfont.woff') format('woff'),
         url('fonts/antipasto_extralight-webfont.ttf') format('truetype'),
         url('fonts/antipasto_extralight-webfont.svg#AntipastoExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MentoneLigBold';
    src: url('fonts/mentone-semibol-webfont.eot');
    src: url('fonts/mentone-semibol-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mentone-semibol-webfont.woff') format('woff'),
         url('fonts/mentone-semibol-webfont.ttf') format('truetype'),
         url('fonts/mentone-semibol-webfont.svg#MentoneLigBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AntipastoRegular';
    src: url('fonts/antipasto_regular-webfont.eot');
    src: url('fonts/antipasto_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/antipasto_regular-webfont.woff') format('woff'),
         url('fonts/antipasto_regular-webfont.ttf') format('truetype'),
         url('fonts/antipasto_regular-webfont.svg#AntipastoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlteHaasGroteskBold';
    src: url('fonts/altehaasgroteskbold-webfont.eot');
    src: url('fonts/altehaasgroteskbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/altehaasgroteskbold-webfont.woff') format('woff'),
         url('fonts/altehaasgroteskbold-webfont.ttf') format('truetype'),
         url('fonts/altehaasgroteskbold-webfont.svg#AlteHaasGroteskBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlteHaasGroteskRegular';
    src: url('fonts/altehaasgroteskregular-webfont.eot');
    src: url('fonts/altehaasgroteskregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/altehaasgroteskregular-webfont.woff') format('woff'),
         url('fonts/altehaasgroteskregular-webfont.ttf') format('truetype'),
         url('fonts/altehaasgroteskregular-webfont.svg#AlteHaasGroteskRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AntipastoExtraBold';
    src: url('fonts/antipasto_extrabold-webfont.eot');
    src: url('fonts/antipasto_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/antipasto_extrabold-webfont.woff') format('woff'),
         url('fonts/antipasto_extrabold-webfont.ttf') format('truetype'),
         url('fonts/antipasto_extrabold-webfont.svg#AntipastoExtraBold') format('svg');
    font-weight: normal;
    font-style: normal;
}