.icon{
    background-image: url('images/icons v2.png');
    background-repeat: no-repeat;
}

.icon.fb.big{
    background-position: 0 0;
    width: 71px;
    height: 102px;
}

.icon.logo.small{
    background-position: -73px 0;
    width: 110px;
    height: 32px;
}

.icon.buddy{
    background-position: -185px 0;
    width: 35px;
    height: 32px;
}

.icon.soul-blue{
    background-position: -222px 0;
    width: 29px;
    height: 32px;
}

.icon.soul{
    background-position: -253px 0px;
    width: 26px;
    height: 30px;
}

.icon.trait-selector{
    background-position: -281px -0px;
    width: 28px;
    height: 32px;
}

.icon.fb.small{
    background-position: -73px -34px;
    width: 19px;
    height: 20px;
}

.icon.previous{
    background-position: -94px -34px;
    width: 14px;
    height: 24px;
}

.icon.next{
    background-position: -110px -34px;
    width: 14px;
    height: 24px;
}

.icon.first{
    background-position: -126px -34px;
    width: 16px;
    height: 24px;
}

.icon.last{
    background-position: -144px -34px;
    width: 16px;
    height: 24px;
}

.icon.search-right{
    background-position: -162px -34px;
    width: 37px;
    height: 24px;
}

.icon.search-left{
    background-position: -201px -34px;
    width: 37px;
    height: 24px;
}

.icon.selector{
    background-position: -240px -34px;
    width: 28px;
    height: 24px;
}

.icon.bar-end{
    background-position: -270px -34px;
    width: 28px;
    height: 24px;
}

.icon.logo.big{
    background-position: 0 -104px;
    width: 310px;
    height: 89px;
}

.icon.soul-big{
    background-position: -169px -114px;
    width: 69px;
    height: 79px;
}